<div class="row"> 
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row" >
        <div class="col-sm-5 form-group" >  
          <label for="acao">Ação</label>
          <input 
          type="text" 
          id="acao" 
          ngModel
          class="form-control"
          name="acao"
          required
          />
        </div>        

        <div class="col-sm-2 form-group" >  
          <label for="data">Data</label>
          <input
           type="date" 
           id="data" 
           name="data"
           ngModel
           class="form-control"
           required
          />
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-2 form-group" >  
          <label for="quantidade">Quantidade</label>
          <input 
          type="number" 
          id="quantidade" 
          name="quantidade"
          ngModel
          class="form-control"
          required
          pattern="^[1-9]+[0-9]*$"
          />
        </div>        
        <div class="col-sm-2 form-group" >  
          <label for="valor">Valor</label>
          <input 
          type="number" 
          name="valor"
          id="valor" 
          ngModel
          class="form-control"
          required
          pattern="^[1-9]+[0-9]*$"
          />
        </div>        
        <div class="col-sm-2 form-group" >  
          <label for="despesa">Despesa</label>
          <input 
          type="number" 
          id="despesa" 
          name="despesa"
          ngModel
          class="form-control"
          required
          pattern="^[1-9]+[0-9]*$"
          />
        </div>        
      </div>
      <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary" type="button" (click)='onClear()'>Limpar</button>
            <button class="btn btn-success" type="submit" [disabled]='!f.valid' >{{ editMode ? 'Atualizar' : 'Adicionar'}}</button>                        
            <button class="btn btn-danger" type="button" *ngIf='editMode' (click)='onDelete()'>Deletar</button>
        </div>
      </div>
    </form>
  </div>
</div>
